@import "node_modules/bootstrap/scss/bootstrap";
$test-color: yellow;
$test-bg: green;


.teststyle {
  color: $test-color;
  background-color: $test-bg;
}

.app {
  padding: 5px;
  background-color: black;
}

.dbfront {
  padding: 5px;
  background-color: blue;
}

.navbar {
  padding: 5px;
  background-color: red;
}

.showprodslist {
  padding: 5px;
  background-color: purple;
  //flex-direction: row;
  justify-content: center;
  
}

.singleprod {
  padding: 5px;
  width:12rem;
              
	      
}

// .product-container {
//     background-color: purple;
//     align-content: center;
// }

.productdata {
    padding: 15px;
    background-color: gold;
    color: purple;
}

.card-img {
    width: 25%;
}
